.businessNotes_section {
    padding-top: 20px;
    padding-bottom: 60px;
}

.businessNotesList {

    .notesForm {

        textarea {
            width: 100%;
            min-height: 180px;
            border-color: #c5c4c4;
        }
    }

    .btn {
        background-color: var(--main1);
        color: #fff;
        min-width: 200px;
        padding: 12px 15px;
        margin-top: 10px;
    }
}


.branchBox {
    border-style: dashed;
    border-width: 1px;
    border-color: #ada6a3;
    border-radius: 5px;
    padding: 15px 20px;
    position: relative;
    margin-top: 15px;

    .branchBoxBody {
        color: #6e7072;

        h3 {
            font-size: 20px;
            margin-bottom: 5px;
            color: #000;

            .editIcon {
                font-size: 19px;
                float: right;
                color: #919090;
                cursor: pointer;
            }
        }
        p {
            margin-bottom: 5px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-top: 5px;
            }
        }
    }
}