


.loginSignInTab {

    .mat-tab-labels {
        list-style: none;
        margin: 0;
        padding: 0px 0px;
        display: none;
        margin-bottom: 10px;

        li {
            width: 50%;

            a {
                border-bottom: 2px solid #dcdcdf;
                display: block;
                text-align: center;
                text-decoration: none;
                padding: 10px 5px;
                font-size: 16px;
                color: var(--main3);

                &.active {
                    border-bottom: 2px solid var(--main1);
                    color: var(--main1);
                }
            }
        }
    }
    .error {
        color: red;
        margin-bottom: 5px;
        font-size: 12px;
        position: relative;
        top: -8px;
    }
    
    
.loginSignup {

    .forgotPassword {
        color: var(--main4);
        display: inline-block;
        position: relative;
        top: -5px;
        text-decoration: none;
    }
    .submitBtn {
        background-color: var(--main1);
        color: #fff;
        display: block;
        width: 100%;
        padding: 0px 10px;
        height: 52px;
        line-height: 52px;
        border-radius: 5px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
    }
    .or {
        border-top: 1px solid #7F8699;
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            padding: 0px 10px;
            margin-top: -2px;
            color: #7F8699;
        }
    }
    .socialBox {
        display: block;
        background: #f9560f;
        text-align: center;
        color: #fff;
        margin-top: 12px;
        text-decoration: none;
        border-radius: 4px;
        padding: 0px 10px;
        height: 52px;
        line-height: 52px;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        

        .icon {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translate(-0%, -50%);
            text-align: center;
            width: 35px;


        }
        &.facebook {
            background-color: #1A77F2;
            cursor: pointer;
        }
        &.apple {
            background-color: #000000;
            cursor: pointer;
        }
        &.google {
            background-color: #fff;
            color: #000;
            border: 1px solid #cbcbcb;
            cursor: pointer;
        }
    }
    .policyLink {
        text-align: center;
        padding: 0px 15px;
        color: var(--main4);
        font-size: 13px;
        margin: 15px 0px 15px 0px;

        a {
            color: var(--main4);

            &:hover {
                color:var(--main1);
            }
        }
    }
}
.businessBox {
    .sentMessage {
        background: #ffe4d8;
        font-size: 15px;
        text-align: center;
        padding: 10px 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        .clickHere{
            cursor: pointer;
        }
      }

    .terms {

        font-size: 12px;
        color: var(--main4);

        a {
            color: var(--main1);
        }
    }
}
.addHours {
    background-color: var(--main4);
    color: #fff;
    font-size: 14px;
    margin-top: 12px;
    padding: 8px 20px;

    &:focus {
        box-shadow: none;
    }
}

.businessBox {

    .terms {

        font-size: 12px;
        color: var(--main4);

        a {
            color: var(--main1);
        }
    }
}


.staticCode {
    font-size: 16px;
    left: 40px;
    border-right: 1px solid #000;
    padding-right: 10px;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
    top: 50%;
 }
 .passwordError {
    label {
        display: flex;
        padding: 5px 0px;
    }
    i {
        padding: 0px 5px;
    }
 }

.actionAction {
    height: 22px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
::ng-deep .iti {
    width: 100% !important;
}
::ng-deep .mat-tab-label {
    width: 100% !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 15px;
    letter-spacing: 0;
    display: none;
}
::ng-deep .mat-tab-header {
    margin: 0px 15px;
    margin-bottom: 10px;
}
::ng-deep mat-ink-bar {
    background-color: var(--main1) !important;
}
}




