<div class="mainBody bottomSpace">
    <div class="display-show-mobile">
    <div class="pageTopBar row">
        <div class="col-3">
        </div>
        <div class="col-6 text-center">
          <h5 class="pgTitle">Shortlist</h5>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>

<div class="container shortlistSection">
    <div class="bridTitle display-show-desktop">
        <h3 class="bridT">Shortlist</h3>
    </div>
    
    <div class="emptySection" style="display: none;">
        <img lazyLoad="./assets/images/shortlist.svg" class="icon" />
        <p>Your list is empty. Start selling!</p>
    </div>


    <div class="space pb-0">
        <div class="title mt-0">
            <h3>Events</h3>
        </div>
    </div>
    <div class="row eventRow">
        <div class="col-12 col-md-6">
            <div class="eventList">
                <div class="eventDate">
                    <h3>10</h3>
                    <h5>Feb 21</h5>
                </div>
                <div class="eventBody">
                    <a href="javascript:void(0);" class="tt" routerLink = "/event-details">
                    Ukulele lessons for beginners
                    </a>
                    <p><img lazyLoad="./assets/images/icons/icon-location.svg" class="icon"> Orchard central</p>
                    <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="eventList">
                <div class="eventDate">
                    <h3>10</h3>
                    <h5>Feb 21</h5>
                </div>
                <div class="eventBody">
                    <a href="javascript:void(0);" class="tt" routerLink = "/event-details">
                    Ukulele lessons for beginners
                    </a>
                    <p><img lazyLoad="./assets/images/icons/icon-location.svg" class="icon"> Orchard central</p>
                    <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                </div>
            </div>
        </div>
    </div>


   
   
        

    <div class="space  pb-0">

        <div class="title mt-0">
            <h3>Marketplace</h3>
            <a class="link" href="javascript:void(0);">More</a>
        </div>
    
        <div class="owlSLider">
            <owl-carousel-o [options]="customOptions3">
    
            <ng-template style="width: 10px;" carouselSlide>
                <div class="classSection owlSLiderSpace">
                    <div class="classSectionImg">
                        <img class="catImg" lazyLoad="./assets/images/list1.svg" />	
                        <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                    </div>
                    <div class="classSectionBody">
                    <a href="javascript:void(0);" class="titleName">
                        Teapot stand for flow...
                    </a>
                    <div class="profileN">
                        <div class="profileName">
                            <img class="catImg" lazyLoad="./assets/images/userDefault.svg" />
                            <span>Charlie L.</span>
                        </div>
                        <h5>$40</h5>
                    </div>
                    </div>
                </div>
            </ng-template>
            <ng-template style="width: 10px;" carouselSlide>
                <div class="classSection owlSLiderSpace">
                    <div class="classSectionImg">
                        <img class="catImg" lazyLoad="./assets/images/list2.svg" />	
                        <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite</mat-icon></a>
                    </div>
                    <div class="classSectionBody">
                    <a href="javascript:void(0);" class="titleName">
                        Makeup kit
                    </a>
                    <div class="profileN">
                        <div class="profileName">
                            <img class="catImg" lazyLoad="./assets/images/profile2.svg" />
                            <span>Willow K.</span>
                        </div>
                        <h5>$40</h5>
                    </div>
                    </div>
                </div>
            </ng-template>
            
            <ng-template style="width: 10px;" carouselSlide>
                <div class="classSection owlSLiderSpace">
                    <div class="classSectionImg">
                        <img class="catImg" lazyLoad="./assets/images/list1.svg" />	
                        <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                    </div>
                    <div class="classSectionBody">
                    <a href="javascript:void(0);" class="titleName">
                        Teapot stand for flow...
                    </a>
                    <div class="profileN">
                        <div class="profileName">
                            <img class="catImg" lazyLoad="./assets/images/userDefault.svg" />
                            <span>Charlie L.</span>
                        </div>
                        <h5>$40</h5>
                    </div>
                    </div>
                </div>
            </ng-template>
            <ng-template style="width: 10px;" carouselSlide>
                <div class="classSection owlSLiderSpace">
                    <div class="classSectionImg">
                        <img class="catImg" lazyLoad="./assets/images/list2.svg" />	
                        <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite</mat-icon></a>
                    </div>
                    <div class="classSectionBody">
                    <a href="javascript:void(0);" class="titleName">
                        Makeup kit
                    </a>
                    <div class="profileN">
                        <div class="profileName">
                            <img class="catImg" lazyLoad="./assets/images/profile2.svg" />
                            <span>Willow K.</span>
                        </div>
                        <h5>$40</h5>
                    </div>
                    </div>
                </div>
            </ng-template>
            
        </owl-carousel-o>
        </div>


        <div class="title mt-0">
            <h3>Classes</h3>
            <a class="link" href="javascript:void(0);">More</a>
        </div>
    
        <div class="owlSLider">
    
            <owl-carousel-o [options]="customOptions2">
    
                <ng-template style="width: 10px;" carouselSlide>
                    <div class="classSection owlSLiderSpace">
                        <div class="classSectionImg">
                            <img class="catImg" lazyLoad="./assets/images/classImg.svg" />	
                            <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                        </div>
                        <div class="classSectionBody">
                        <a href="javascript:void(0);" class="titleName">
                            The headline will h...
                        </a>
                        <p><span><img class="catImg" lazyLoad="./assets/images/icons/class1.svg" /></span> 2.5 - 12 years old</p>
                        <p><span><img class="catImg" lazyLoad="./assets/images/icons/class2.svg" /></span> Tanglin</p>
                        </div>
                    </div>
                </ng-template>
                
                <ng-template style="width: 10px;" carouselSlide>
                    <div class="classSection owlSLiderSpace">
                        <div class="classSectionImg">
                            <img class="catImg" lazyLoad="./assets/images/classImg2.svg" />	
                            <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite</mat-icon></a>
                        </div>
                        <div class="classSectionBody">
                        <a href="javascript:void(0);" class="titleName">
                            The headline will h...
                        </a>
                        <p><span><img class="catImg" lazyLoad="./assets/images/icons/class1.svg" /></span> 2.5 - 12 years old</p>
                        <p><span><img class="catImg" lazyLoad="./assets/images/icons/class2.svg" /></span> Tanglin</p>
                        </div>
                    </div>
                </ng-template>
                
                <ng-template style="width: 10px;" carouselSlide>
                    <div class="classSection owlSLiderSpace">
                        <div class="classSectionImg">
                            <img class="catImg" lazyLoad="./assets/images/classImg.svg" />	
                            <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                        </div>
                        <div class="classSectionBody">
                        <a href="javascript:void(0);" class="titleName">
                            The headline will h...
                        </a>
                        <p><span><img class="catImg" lazyLoad="./assets/images/icons/class1.svg" /></span> 2.5 - 12 years old</p>
                        <p><span><img class="catImg" lazyLoad="./assets/images/icons/class2.svg" /></span> Tanglin</p>
                        </div>
                    </div>
                </ng-template>
                
                <ng-template style="width: 10px;" carouselSlide>
                    <div class="classSection owlSLiderSpace">
                        <div class="classSectionImg">
                            <img class="catImg" lazyLoad="./assets/images/classImg2.svg" />	
                            <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite</mat-icon></a>
                        </div>
                        <div class="classSectionBody">
                        <a href="javascript:void(0);" class="titleName">
                            The headline will h...
                        </a>
                        <p><span><img class="catImg" lazyLoad="./assets/images/icons/class1.svg" /></span> 2.5 - 12 years old</p>
                        <p><span><img class="catImg" lazyLoad="./assets/images/icons/class2.svg" /></span> Tanglin</p>
                        </div>
                    </div>
                </ng-template>
    
            </owl-carousel-o>
            
        </div>
        
        <div class="title mt-0">
            <h3>Groups</h3>
        </div>

        <div class="row">

            <div class="col-12 col-md-4 col-lg-3 col-xl-3">
                <div class="classSection groupBox">
                    <div class="classSectionImg">
                        <a href="javascript:void(0);" routerLink = "/group-details"><img class="catImg" lazyLoad="./assets/images/group4.svg" /></a>	
                        <div class="groupIcon">
                            <img class="icon" lazyLoad="./assets/images/icons/icon-group.svg" />	 250 members
                        </div>
                        <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                    </div>
                    <div class="classSectionBody">
                        <div class="groupBody">
                            <div class="groupBodyConent">
                                <h3><a href="javascript:void(0);" routerLink = "/group-details">Swimming</a></h3>
                                <p>Here will be the description of the group</p>
                            </div>
                            <button class="btn joinGroup" routerLink = "/login/student">
                                Join
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 col-xl-3">
                <div class="classSection groupBox">
                    <div class="classSectionImg">
                        <a href="javascript:void(0);" routerLink = "/group-details"><img class="catImg" lazyLoad="./assets/images/group4.svg" /></a>	
                        <div class="groupIcon">
                            <img class="icon" lazyLoad="./assets/images/icons/icon-group.svg" />	 250 members
                        </div>
                        <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                    </div>
                    <div class="classSectionBody">
                        <div class="groupBody">
                            <div class="groupBodyConent">
                                <h3><a href="javascript:void(0);" routerLink = "/group-details">Swimming</a></h3>
                                <p>Here will be the description of the group</p>
                            </div>
                            <button class="btn joinGroup" routerLink = "/login/student">
                                Join
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        
        <div class="title">
            <h3>Articles</h3>
        </div>

        <div class="articlesSlider">
            <owl-carousel-o [options]="customOptions">

                <ng-template style="width: 10px;" carouselSlide>
                   <div class="classSection">
                        <div class="classSectionImg">
                            <img class="catImg" lazyLoad="./assets/images/art1.svg" />	
                            <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                        </div>
                        <div class="classSectionBody">
                        <a href="javascript:void(0);" class="titleName">
                            How to start play on guitar
                        </a>
                        </div>
                    </div>
                </ng-template>

                <ng-template style="width: 10px;" carouselSlide>
                   <div class="classSection">
                        <div class="classSectionImg">
                            <img class="catImg" lazyLoad="./assets/images/art2.svg" />	
                            <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                        </div>
                        <div class="classSectionBody">
                        <a href="javascript:void(0);" class="titleName">
                            What the difference between the classic...
                        </a>
                        </div>
                    </div>
                </ng-template>

                <ng-template style="width: 10px;" carouselSlide>
                   <div class="classSection">
                        <div class="classSectionImg">
                            <img class="catImg" lazyLoad="./assets/images/art1.svg" />	
                            <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                        </div>
                        <div class="classSectionBody">
                        <a href="javascript:void(0);" class="titleName">
                            How to start play on guitar
                        </a>
                        </div>
                    </div>
                </ng-template>

                <ng-template style="width: 10px;" carouselSlide>
                   <div class="classSection">
                        <div class="classSectionImg">
                            <img class="catImg" lazyLoad="./assets/images/art2.svg" />	
                            <a href="javascript:void(0);" class="fav"><mat-icon class="like">favorite_border</mat-icon></a>
                        </div>
                        <div class="classSectionBody">
                        <a href="javascript:void(0);" class="titleName">
                            What the difference between the classic...
                        </a>
                        </div>
                    </div>
                </ng-template>


            </owl-carousel-o>
        </div>

    </div>
</div>

    <app-bottom-bar></app-bottom-bar>
</div>