.secondToolbar {
    position: fixed;
    background: #eee;
    top: 0;
    height: 0;
    transition: opacity .25s ease-out, height .15s ease;
    cursor: default;
    user-select: none;
}

.seperator {
    width: 38px;
    top: 9px;
    position: relative;
    left: 268px;
    height: 0px;
    font-size: 20px;
    color: #968888;
    margin: 0px;
}

.mainHeadersticky {
    padding: 10px 0px;
    position: fixed;
    background: #eee;
    top: 0;
    width: 100%;
    opacity: 1;
    z-index: 1000;
    box-shadow: 0 6px 8px -12px black;
    background: #fff;
    display: block;

    .mainRow {
        display: flex;
        align-items: center;

        .logo {
            color: var(--main1);
            font-size: 26px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 15px;
            width: 15%;

            .logoImg {
                width: 100px;
                position: absolute;
                top: 15px;
            }
        }

        .searchBoxInner {
            width: 850px;
            height: 55px;
            border-radius: 8px;

            .searchbox {
                position: relative;
                background-color: var(--main5);
                box-shadow: 0 5px 8px -8px #939090;
                padding: 0px 15px 0px 15px;
                border-radius: 8px;
                padding-right: 60px;
                top: 8px;

                .input-group {

                    .position-relative {

                        &::after {
                            content: "|";
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            transform: translate(50%, -50%);
                            color: #b1b1b1;
                            margin-top: -2px;
                        }
                    }

                    .searchInput{
                        width: 75%;
                    }
                }

                .searchBtn {
                    position: absolute;
                    top: 50%;
                    z-index: 99999;
                    right: 2px !important;
                    transform: translate(0%, -50%);
                    border: navajowhite;
                    background: #7F8699;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    width: 51px;
                    justify-content: center;
                    height: 40px;
                    line-height: 17px;
                    color: #fff;
                }

                .iconClose {
                    position: absolute;
                    top: 50%;
                    transform: translate(0%, -50%);
                    cursor: pointer;
                    color: var(--main1);
                    font-size: 18px;
                    right: 15px;
                    padding: 2px 4px;
                }

                .form-control {
                    height: 40px;
                    border: none;
                    color: var(--main4);
                    font-size: 15px;
                    border-radius: 0px;
                    box-shadow: none;
                    padding: 0px 0px;
                    padding-right: 30px;

                    &:focus {
                        background-color: #F3F4F9;
                        box-shadow: none;
                    }
                }

                .menuSelect {
                    width: 25%;
                    color: var(--main1);
                    font-size: 13px;
                }
            }

        }


        .btns_box {
            text-align: right;
            width: 40%;
            display: flex;

            .btnstudent {
                border: 1px solid var(--main1);
                height: 40px;
                width: 250px;
                font-weight: 500;
                width: 190px;
                margin-left: 15px;
                border-radius: 8px;
            }

            .btnbusiness {
                background-color: var(--main1);
                border: 1px solid var(--main1);
                height: 40px;
                width: 190px;
                font-weight: 500;
                margin-left: 15px;
                border-radius: 8px;
                color: #fff;
            }
        }
    }

    .mobileMenu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        padding-top: 20px;

        li {
            position: relative;

            &.active {
                color: var(--main1);
            }

            a {
                color: #000;
                text-decoration: none;
                padding: 0px 50px;
                transition: 0.5s;
                font-weight: 500;

                &:hover {
                    color: var(--main1);
                }

                &.active {
                    color: var(--main1);
                }
            }

            &::after {
                content: "";
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--main1);
                position: relative;
                top: -1px;
            }

            &:last-child {

                &::after {
                    display: none;
                }
            }
        }
    }

}

.mainHeader {
    padding: 15px 0px;
    box-shadow: 0 6px 8px -12px black;
    background: #fff;
    display: block;

    .mainRow {
        display: flex;
        align-items: center;

        .logo {
            color: var(--main1);
            font-size: 26px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 15px;
            width: 15%;

            .logoImg {
                width: 100px;
                position: absolute;
                top: 15px;
            }
        }

        .searchBoxInner {
            width: 850px;
            height: 55px;
            border-radius: 8px;

            .searchbox {
                position: relative;
                background-color: var(--main5);
                box-shadow: 0 5px 8px -8px #939090;
                padding: 0px 15px 0px 15px;
                border-radius: 8px;
                padding-right: 60px;
                top: 8px;

                .input-group {

                    .position-relative {

                        &::after {
                            content: "|";
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            transform: translate(50%, -50%);
                            color: #b1b1b1;
                            margin-top: -2px;
                        }
                    }

                    .searchInput{
                        width: 75%;
                    }
                }

                .searchBtn {
                    position: absolute;
                    top: 50%;
                    right: 2px !important;
                    transform: translate(0%, -50%);
                    border: navajowhite;
                    background: #7F8699;
                    z-index: 99999;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    width: 51px;
                    justify-content: center;
                    height: 40px;
                    line-height: 38px;
                    color: #fff;
                }

                .iconClose {
                    position: absolute;
                    top: 50%;
                    transform: translate(0%, -50%);
                    cursor: pointer;
                    color: var(--main1);
                    font-size: 18px;
                    right: 15px;
                    padding: 5px 4px;
                }

                .form-control {
                    height: 40px;
                    border: none;
                    color: var(--main4);
                    font-size: 15px;
                    border-radius: 0px;
                    box-shadow: none;
                    padding: 0px 0px;
                    padding-right: 30px;

                    &:focus {
                        background-color: #F3F4F9;
                        box-shadow: none;
                    }
                }

                .menuSelect {
                    width: 25%;
                    color: var(--main1);
                    padding: 0px 10px;
                }
            }

        }


        .btns_box {
            text-align: right;
            width: 40%;
            display: flex;

            .btnstudent {
                border: 1px solid var(--main1);
                height: 40px;
                width: 250px;
                font-weight: 500;
                width: 190px;
                margin-left: 15px;
                border-radius: 8px;
            }

            .btnbusiness {
                background-color: var(--main1);
                border: 1px solid var(--main1);
                height: 40px;
                width: 250px;
                width: 190px;
                font-weight: 500;
                margin-left: 15px;
                border-radius: 8px;
                color: #fff;
            }

            // .btn:hover {
            //     background-color: var(--main1);
            //     ;
            //     border: 1px solid var(--main1);
            //     height: 40px;
            //     width: 250px;
            //     font-weight: 500;
            //     margin-left: 15px;
            //     border-radius: 8px;
            //     color: #fff;
            // }
        }
    }

    .mobileMenu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        padding-top: 20px;

        li {
            position: relative;

            &.active {
                color: var(--main1);
            }

            a {
                color: #000;
                text-decoration: none;
                padding: 0px 50px;
                transition: 0.5s;
                font-weight: 500;

                &:hover {
                    color: var(--main1);
                }

                &.active {
                    color: var(--main1);
                }
            }

            &::after {
                content: "";
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--main1);
                position: relative;
                top: -1px;
            }

            &:last-child {

                &::after {
                    display: none;
                }
            }
        }
    }
}

.profileAction {
    text-align: right;
    width: 40%;
    justify-content: right;

    .logoImg {
        width: 45px;
        margin-right: 8px;
        height: 45px;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .email {
        display: block;
        text-transform: lowercase;
        color: #888a90;
    }

    ::ng-deep .mat-button-wrapper {
        display: flex;
        line-height: 0px;
        text-align: left;
    }

    h4 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .mat-menu-trigger {
        text-transform: uppercase;
        align-items: center;
        background: transparent;
        padding: 0px;
        position: relative;
        top: 2px;

        &:hover {
            background: transparent !important;
        }
    }

    ::ng-deep .mat-button-focus-overlay {
        display: none;
    }
}

.hide-autocomplete {
    display: none;
}


/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/
@media (max-width: 767px) {

    // .searchInput{
    //     width: 60% !important;
    // }

    .searchbox {
        height: 40px;
        margin-top: 0px;
    }

    .mobileHide {
        display: none !important;
    }

    .mainHeader {
        width: 100% !important;
        padding: 0px 15px;
        border-bottom: 1px solid #c9c0c2;
        // background-color: #c9c0c2;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .mainHeadersticky {
        width: 100% !important;
        padding: 0px 15px;
        border-bottom: 1px solid #c9c0c2;
        // background-color: #c9c0c2;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .searchbox{
        padding-right: 38px !important;
    }

    .searchBtn{
        width: 38px !important;
        height: 38px !important;
    }

    .topBar {
        padding: 1px 15px 0px 15px;
    }

    .searchbox .form-control {
        height: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .searchInput{
        width: 68% !important;
    }

    .tabHideLogo{
        display: none !important;
    }
    button.btnstudent {
        font-size: 14px;
        line-height: 17px;
    }
    button.btnbusiness {
        font-size: 14px;
        line-height: 17px;
    }

    .mainHeader .mobileMenu li a {
        padding: 0px 25px;
    }

    .mainHeader .mobileMenu {
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 6000px) {
    .desktopHide{
        display: none ;
    }
}