.profileMenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profileMenu li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: 12px 10px;
    display: flex;
    background: #f0f0f0;
    margin-bottom: 5px;
    border-radius: 6px;
    align-items: center;
}

.profileMenu li a.active {
    color: #000;
    background: #ffd9c9;
}

.profileMenu li a .icon_svg {
    height: 22px;
    width: 22px;
    margin-right: 5px;
}

.addressBox {
    color: #f9560f;
    border-radius: 6px;
    padding: 5px 0px 15px 0px;
    margin-bottom: 10px;
    background: white;
}

.addressBox h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
    font-style: italic;
}

.addressBox p {
    margin: 0;
    font-size: 14px;
    color: rgba(110, 112, 114, 1);
}

.AddAddress {
    color: #f9560f;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    margin-top: 8px;
    display: inline-block;
}


.rightArrow {
    float: right;
    position: absolute;
    right: 30px;
    display: none;
}

@media (max-width: 767px) {

    .rightArrow {
        display: block;
    }
}