.homepagemore {
    .eventList {
        display: flex;
        box-shadow: 0 2px 11px -2px #d6d6d6;
        padding: 8px 8px;
        border-radius: 5px;
        margin: 10px 0px 0px 0px;
        cursor: pointer;

        .eventDate {
            color: var(--main1);
            border: 1px solid #7F8699;
            width: 130px;
            text-align: center;
            padding: 15px 10px;
            border-radius: 6px;

            h3 {
                font-size: 40px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            h5 {
                font-size: 16px;
                margin: 0px;
            }
        }

        .eventBody {
            width: 100%;
            padding: 0px 10px;
            position: relative;

            .tt {
                color: #000;
                text-decoration: none;
                font-size: 16px;
            }

            p {
                margin: 10px 0px 0px 0px;
                color: var(--main4);

                .icon {
                    margin-right: 3px;
                }
            }

            .fav {
                color: var(--main1);
                display: block;
                position: absolute;
                right: 0px;
                bottom: 0;
            }
        }
    }


    .topicList {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 18px;
        margin-bottom: 50px;

        li {
            display: flex;
            background: #fff;
            position: relative;
            margin-top: 10px;

            .tpsImg {
                width: 120px;
                height: 115px;
                object-fit: cover;
                border-radius: 5px;
            }

            .trendingBody {
                padding-left: 10px;
                padding-right: 5px;

                .titleName {
                    font-size: 16px;
                    color: var(--main3);
                    text-decoration: none;
                    display: block;
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .fav {
                    position: absolute;
                    right: 10px;
                    bottom: 0px;
                    color: var(--main1);
                }

                p {
                    margin: 5px 0px 0px 0px;
                    color: var(--main4);

                    a {
                        font-weight: 500;
                        color: var(--main4);
                        text-decoration: none;
                    }
                }

                .time {
                    margin-top: 8px;

                    span {
                        font-size: 14px;
                        color: var(--main4);
                    }
                }
            }
        }
    }

    ::ng-deep .owl-nav {
        position: absolute;
        top: -30px;
        margin: 0;
        left: 50%;
        margin: 0px !important;
        transform: translate(-50%, -0%);

        .owl-prev,
        .owl-next {
            background: transparent !important;
            color: var(--main4) !important;
            font-size: 20px !important;
            font-weight: bold;
            margin: 0 !important;
            padding: 0px 15px !important;
        }
    }


    .downloadSection {
        position: relative;
        margin-top: 30px;
        margin-bottom: 50px;

        .backgroundImg {
            width: 100%;
        }

        .containerBox {
            position: absolute;
            top: 50%;
            width: 100%;
            left: 0;
            transform: translate(-0%, -50%);
            padding: 0px 150px;

            .leftContent {

                h2 {
                    font-weight: bold;
                    color: #fff;
                    font-size: 40px;
                    text-transform: uppercase;
                    margin-bottom: 40px;
                    background-image: linear-gradient(45deg, #ECA363, #E05E80);
                    background-size: 100%;
                    background-repeat: repeat;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;

                    span {}
                }

                p {
                    color: #fff;
                    font-size: 18px;
                    line-height: 32px;
                    margin-bottom: 25px;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;

                    li {

                        a {

                            img {
                                height: 65px;
                            }
                        }
                    }
                }
            }

            .mobileImg {
                width: 100%;
                margin-top: 0px;
                padding: 0px 20px;
            }
        }
    }

    .topBar {

        .logoN {
            height: 35px;
            margin-right: 10px;
            margin-left: 2px;
        }

        &.affix {
            position: fixed;
            top: 0;
            bottom: 0;
            background: #fff;
            z-index: 99;
            height: 75px;
            width: 100%;
            left: 0;
            padding: 14px 15px;
            border-bottom: 1px solid #dfd8d8;
        }
    }

    .chat {
        float: right;
        position: relative;
        display: inline-block;

        span {
            position: absolute;
            right: -2px;
            background: #f9560f;
            color: #fff;
            font-size: 12px;
            width: 15px;
            height: 15px;
            line-height: 15px;
            text-align: center;
            border-radius: 50px;
            bottom: 2px;
        }

    }

    .category {
        font-size: 15px;
        color: #868c9e;
        display: inline-block;
        width: auto;
        padding: 0px;
        margin-right: 5px;
    }

    .cateSliderDesktop {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            width: 10%;

            .catImg {
                height: 90px;
            }
        }
    }

    .categoryBoxDesktop .catImg {
        height: 90px !important;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {

        .downloadSection .containerBox {
            padding: 0px 50px;
        }

        .downloadSection .containerBox .leftContent h2 {
            font-size: 26px;
            margin-bottom: 5px;
        }

        .downloadSection .containerBox .leftContent p {
            color: #fff;
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 25px;
        }

        .downloadSection .containerBox .leftContent ul li a img {
            height: 55px;
        }

        .aboutSection {
            padding: 0px 80px;
        }
    }

    .groupSlider {
        display: block;
        margin: 0px -5px;
        margin-top: 10px;

        .groupBox {
            position: relative;
            margin: 0px 5px;
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100px;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.2);
                width: 100%;
                height: 100%;
                z-index: 1;
                color: #fff;
                text-decoration: none;

                .sg {
                    top: 50%;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    text-align: center;

                    h4 {
                        margin-bottom: 0px;
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    .groupBox {
        box-shadow: none;
        border-radius: 10px 10px 0px 0px;
        margin-top: 15px;

        .classSectionImg {

            .catImg {
                height: 140px;
            }

            .groupIcon {
                position: absolute;
                bottom: 8px;
                left: 11px;
                display: flex;
                color: #fff;

                .icon {
                    height: 17px;
                    width: auto;
                    border-radius: 0px;
                    margin-right: 6px;
                }
            }
        }

        .classSectionBody {
            padding: 0;
            margin-top: 10px;

            .groupBody {
                display: flex;

                .groupBodyConent {
                    width: 100%;

                    h3 {
                        font-size: 16px;
                        font-weight: 500;
                        margin: 0;

                        a {
                            text-decoration: none;
                            color: #000;
                        }
                    }

                    p {
                        margin: 0;
                        font-size: 15px;
                        overflow: hidden;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                }

                .joinGroup {
                    background: var(--main1);
                    color: #fff;
                    height: 38px;
                    padding: 5px 30px;
                    margin-left: 15px;
                }
            }
        }
    }

    .cateSliderDesktop {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            width: 17%;

            .catImg {
                height: 96px;
            }
        }
    }

    .categoryBoxDesktop .catImg {
        height: 90px !important;
    }

    .textlimit {
        ::ng-deep span {
            margin: 0;
            font-size: 15px;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }


    @media only screen and (min-width: 768px) and (max-width: 6000px) {

        .aboutSection {
            position: relative;
            margin-bottom: 100px;

            .pol1 {
                position: absolute;
                left: 0;
                top: 0;
                height: 34px;
            }

            .pol2 {
                position: absolute;
                right: 0;
                bottom: 0;
                transform: rotate(180deg);
                height: 34px;
            }

            .title {
                display: block;

                h3 {
                    font-size: 34px;
                }

                p {
                    position: relative;
                    padding-left: 80px;
                    line-height: 32px;
                    color: #7F8699;
                    margin-top: 35px;
                    font-size: 19px;
                    margin-bottom: 0;

                    .drops {
                        position: absolute;
                        left: 0;
                        top: 6px;
                        width: 40px;
                    }

                    a {
                        font-weight: 500;
                        font-weight: 500;
                        text-decoration: none;
                        color: var(--main4);
                    }
                }
            }
        }
    }

    .ellipses {
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .ellipsesTitle {
        font-size: 16px;
        color: var(--main3);
        text-decoration: none;
        display: block;
        font-weight: 500;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .ellipsesTitle2 {
        font-size: 16px;
        color: var(--main3);
        text-decoration: none;
        display: block;
        font-weight: 500;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    @media (max-width: 767px) {

        // ::ng-deep .row>* {
        //     width: 50%;
        //     max-width: 100%;
        // }

        // .eventSection{
        //     width: 50%;
        //     max-width: 100%;
        // }

        .category {
            font-size: 13px;
        }

        .topicList {
            margin-bottom: 10px;
        }

        .categoryList {
            margin-bottom: 15px;
        }
    }
}