<!-- <div class="mainBody bottomSpace">

    <div class="display-show-mobile">
    <div class="pageTopBar row">
        <div class="col-3">
          <a class="backArrow" (click)="back()">
            <img class="catImg" lazyLoad="./assets/images/icons/back.svg" />
          </a>
        </div>
        <div class="col-6 text-center">
          <h5 class="pgTitle">My bookings</h5>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<div class="container BookingDesktop">
    <div class="bridTitle display-show-desktop">
        <h3 class="bridT">My Booking</h3>
    </div>
        <mat-tab-group>
        <mat-tab label="Upcoming">
          <div class="row eventRow">
            <div class="col-12 col-md-6">
            <div class="eventList">
                <div class="eventDate">
                    <div class="box">
                        <h3>10</h3>
                        <h5>Feb 21</h5>
                    </div>
                    <p>12:30 pm</p>
                </div>
                <div class="eventBody">
                    <a href="javascript:void(0);" class="tt" routerLink = "/event-details">
                        Lorem perspiciatis unde omnis iste natus error sit
                    </a>
                    <p class="profile"><img lazyLoad="./assets/images/profile2.svg" class="icon"> Charlie L.</p>
                    <p class="location"><img lazyLoad="./assets/images/icons/icon-location.svg" class="icon"> Tanglin</p>
                   
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6">
            <div class="eventList">
                <div class="eventDate">
                    <div class="box">
                        <h3>10</h3>
                        <h5>Feb 21</h5>
                    </div>
                    <p>12:30 pm</p>
                </div>
                <div class="eventBody">
                    <a href="javascript:void(0);" class="tt" routerLink = "/event-details">
                        Lorem perspiciatis unde omnis iste natus error sit
                    </a>
                    <p class="profile"><img lazyLoad="./assets/images/profile2.svg" class="icon"> Charlie L.</p>
                    <p class="location"><img lazyLoad="./assets/images/icons/icon-location.svg" class="icon"> Tanglin</p>
                   
                </div>
            </div>
            </div>
        </div>
        </mat-tab>
        <mat-tab label="Past">
            <div class="row eventRow">
                <div class="col-12 col-md-6">
                <div class="eventList">
                    <div class="eventDate">
                        <div class="box">
                            <h3>10</h3>
                            <h5>Feb 21</h5>
                        </div>
                        <p>12:30 pm</p>
                    </div>
                    <div class="eventBody">
                        <a href="javascript:void(0);" class="tt" routerLink = "/event-details">
                            Lorem perspiciatis unde omnis iste natus error sit
                        </a>
                        <p class="profile"><img lazyLoad="./assets/images/profile2.svg" class="icon"> Charlie L.</p>
                        <p class="location"><img lazyLoad="./assets/images/icons/icon-location.svg" class="icon"> Tanglin</p>
                       
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6">
                <div class="eventList">
                    <div class="eventDate">
                        <div class="box">
                            <h3>10</h3>
                            <h5>Feb 21</h5>
                        </div>
                        <p>12:30 pm</p>
                    </div>
                    <div class="eventBody">
                        <a href="javascript:void(0);" class="tt" routerLink = "/event-details">
                            Lorem perspiciatis unde omnis iste natus error sit
                        </a>
                        <p class="profile"><img lazyLoad="./assets/images/profile2.svg" class="icon"> Charlie L.</p>
                        <p class="location"><img lazyLoad="./assets/images/icons/icon-location.svg" class="icon"> Tanglin</p>
                       
                    </div>
                </div>
                </div>
            </div>
        </mat-tab>
    
    </mat-tab-group>
</div>

</div> -->