<div class="pageMarginTop">
    <div class="mainBody">
        <div class="display-show-mobile">
            <div class="pageTopBar row">
                <div class="col-3">
                    <a (click)="back()" class="backArrow">
                        <img class="catImg" lazyLoad="./assets/images/icons/back.svg" />
                    </a>
                </div>
                <div class="col-6 text-center">
                    <h5 class="pgTitle">Your reviews</h5>
                </div>
                <div class="col-3"></div>
            </div>
        </div>

        <div class="container reviewsDesktop">
            <div class="bridTitle display-show-desktop">
                <h3 class="bridT">Reviews</h3>
            </div>


            <div class="emptySection" style="display: none;">
                <img lazyLoad="./assets/images/review.svg" class="icon" />
                <p>Your review list is empty. Start writing now!!!</p>
            </div>

            <div class="space pt-0">
                <div class="reviewBox">
                    <div class="reviewBoxTop">
                        <img class="catImg" lazyLoad="./assets/images/classImg3.svg" />
                        <div class="reviewBoxTopBody">
                            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                            <div class="review-rating">
                                <div class="review-stars notranslate">
                                    <span style="width: 90%;" class="review-stars-range"></span>
                                </div>
                            </div>
                            <div class="rightFix">
                                <a href="javascript:void(0);"><img class="icon"
                                        lazyLoad="./assets/images/icons/icon-edit.svg" /></a>
                                <time>23.03.21</time>
                            </div>
                        </div>
                    </div>
                    <p class="par">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatist...<a
                            href="javascript:void(0);">Read more</a> </p>
                </div>

                <div class="reviewBox">
                    <div class="reviewBoxTop">
                        <img class="catImg" lazyLoad="./assets/images/classImg3.svg" />
                        <div class="reviewBoxTopBody">
                            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                            <div class="review-rating">
                                <div class="review-stars notranslate">
                                    <span style="width: 90%;" class="review-stars-range"></span>
                                </div>
                            </div>
                            <div class="rightFix">
                                <a href="javascript:void(0);"><img class="icon"
                                        lazyLoad="./assets/images/icons/icon-edit.svg" /></a>
                                <time>23.03.21</time>
                            </div>
                        </div>
                    </div>
                    <p class="par">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatist...<a
                            href="javascript:void(0);">Read more</a> </p>
                </div>
            </div>
        </div>

    </div>
</div>