<div class="bottomSpace">
    <div class="display-show-mobile">
        <div class="pageTopBar row">
            <div class="col-3">
            </div>
            <div class="col-6 text-center">
            <h5 class="pgTitle">Business Profile</h5>
            </div>
            <div class="col-3">
                
            </div>
        </div>
    </div>

    <div class="mobileMenuList">
        <div class="title mt-0">
            <h3>My Profile</h3>
            <a class="link" href="javascript:void(0);" routerLink = "/pages/business-edit-profile">
                <img class="catImg" src="./assets/images/icons/icon-edit.svg" />
            </a>
        </div>
        <div class="profileBox">
            <img class="profileImg" src="./assets/images/profileImg.svg"  />
            <div class="body">
                <p>Jen_K</p>
                <h3>Jennifer Kalman</h3>
                <p>jenniferkalma@mail.com</p>
            </div>
        </div>
        <app-adminbusiness-left-sidebar></app-adminbusiness-left-sidebar>
        
        <ul class="menuList display-show-mobile">
            <!-- <li>
                <a href="javascript:void(0);" routerLink = "/add-business">
                    Become Professional Instructor <mat-icon class="like">keyboard_arrow_right</mat-icon>
                </a>
            </li> -->
            <li>
                <a href="javascript:void(0);" routerLink = "/change-password">
                    Change Password <mat-icon class="like">keyboard_arrow_right</mat-icon>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" routerLink = "/pages/about">
                    About us <mat-icon class="like">keyboard_arrow_right</mat-icon>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" routerLink = "/pages/contact">
                    Contact us <mat-icon class="like">keyboard_arrow_right</mat-icon>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="pb-0">
                    Logout <img class="logout" src="./assets/images/icons/logout.svg" />
                </a>
            </li>
        </ul>
    </div>
    

    
    <app-bottom-bar></app-bottom-bar>
</div>
