<div class="pageMarginTop">
  <div class="mainBody">
    <div class="display-show-mobile">
      <div class="pageTopBar row">
        <div class="col-3">
          <a class="backArrow" (click)="back()">
            <img class="catImg" lazyLoad="./assets/images/icons/back.svg" />
          </a>
        </div>
        <div class="col-6 text-center">
          <h5 class="pgTitle">Edit Profile</h5>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

    <div class="container editProfileSection">
      <div class="bridTitle display-show-desktop">
        <h3 class="bridT">Edit Profile</h3>
      </div>
      <div class="editProfile space">
        <form [formGroup]="editProfileForm">
          <div class="formCmg">
            <div class="profileImg">
              <mat-icon *ngIf="images !== 'blankimage' && images" class="closeIcon" (click)="deleteProfile()">close</mat-icon>
              <img *ngIf="images === 'blankimage' || !images" class="catImg" lazyLoad="./assets/images/profile.svg" />
              <img *ngIf="images !== 'blankimage' && images" class="catImg" lazyLoad="{{images}}" />
              <div class="uploadIcon">
                <input type="file" id="upLoader" (change)="onFileChange($event)" accept="image/*" name="images"
                  formControlName="image" />
                <img *ngIf="images === 'blankimage' || !images" class="" lazyLoad="./assets/images/icons/icon-plus.svg" />

              </div>
            </div>
            <div style="top: -15px;" class="error text-center" *ngIf="
            editProfileForm.controls.image.touched &&
            editProfileForm.controls.image.hasError('required')"> Image is required.
            </div>
          </div>
          <div class="row">
            <div class="formCmg labelForm col-md-6">
              <label class="form-label mb-2">Name</label>
              <input #firstName type="text" class="form-control" formControlName="name" placeholder="Name" />
              <!-- <div class="error" *ngIf="
                editProfileForm.controls.name.touched &&
                editProfileForm.controls.name.hasError('required')
              ">
              Name is required.
            </div> -->
            </div>
            <div class="formCmg labelForm col-md-6">
              <label class="form-label mb-2">Username</label>
              <input type="text" class="form-control" formControlName="userName"
                placeholder="User name - It will be used for Group, Chatting and market place" />
              <div class="error" *ngIf="
                editProfileForm.controls.userName.hasError('required') &&  editProfileForm.controls.userName.touched 
              ">
                User Name is required.
              </div>
            </div>
            <!-- <div class="formCmg labelForm col-md-6">
      <input type="text" class="form-control" placeholder="Username (recommended for joining groups) *" required />
       </div> -->
            <div class="formCmg labelForm col-md-6 mt-3">
              <label class="form-label">Email</label>
              <div class="input-group">
                <input type="email" class="form-control" (ngModelChange)="onEmailChange($event)"
                  [readonly]="showEmailfield" formControlName="email" placeholder="Email*" />
                <button class="editBtn btn" *ngIf="showEdit" (click)="editEmail()">Edit</button>
                <button class="editBtn btn" *ngIf="!showEdit" (click)="submitEmail()">Submit</button>
              </div>
              <div class="error mt-3" *ngIf="
              editProfileForm.controls.email.touched &&
              editProfileForm.controls.email.hasError('required')
                            ">
                Email address is required.
              </div>
              <div class="error mt-3" *ngIf="
                              editProfileForm.controls.email.dirty &&
                              editProfileForm.controls.email.hasError('pattern')
                            ">
                Enter valid email address.
              </div>

            </div>
            <div class="formCmg labelForm col-md-6 mt-3">
              <label class="form-label">Mobile Number</label>
              <div class="input-group">
                <input type="text" style="width: 100%;" ng2TelInput (ng2TelOutput)="getNumber($event)"
                  [ng2TelInputOptions]="{separateDialCode:true}" (intlTelInputObject)="telInputObject($event)"
                  (countryChange)="onCountryChange($event)" (hasError)="hasError($event)"
                  (keypress)="numberOnly($event, 'mobile')" class="form-control" name="phone" formControlName="phone"
                  placeholder="Mobile Number" />
                <!-- <button class="editBtn btn" *ngIf="showEditPhone" (click)="editPhoneNumber()">Edit</button> -->
                <!-- <button class="editBtn btn" *ngIf="!showEditPhone" (click)="submitPhoneNumber()">Submit</button> -->
              </div>

              <!-- <div class="error mt-3" *ngIf="
                                  editProfileForm.controls.phone.touched &&
                                  editProfileForm.controls.phone.hasError('required') && errorPhone">
                Mobile Number is required.
              </div> -->
              <div class="error" *ngIf="!errorPhone">
                Please enter valid mobile number
              </div>
            </div>

            <div class="formCmg labelForm col-md-6 mt-3" *ngIf="showEmailOTPforVarification">
              <div class="input-group mt-2">
                <input type="number" class="form-control" formControlName="emailOTP" placeholder="emailOTP" />
                <button class="editBtn btn" (click)="verifyEditEmailOtp()">Verify</button>
              </div>
              <div class="error mt-3" *ngIf="
                                            editProfileForm.controls.emailOTP.dirty &&
                                            editProfileForm.controls.emailOTP.hasError('pattern')
                                          ">
                OTP should be of 4 characters.
              </div>
            </div>

            <div class="formCmg labelForm col-md-6 mt-3" *ngIf="showMobileOTPforVarification">
              <div class="input-group mt-2">
                <input type="number" class="form-control" formControlName="mobileOTP" placeholder="mobileOTP" />
                <button class="editBtn btn" (click)="verifyEditPhoneOtp()">Verify</button>
              </div>
              <div class="error mt-3" *ngIf="
                          editProfileForm.controls.mobileOTP.dirty &&
                          editProfileForm.controls.mobileOTP.hasError('pattern')
                        ">
                OTP should be of 4 characters.
              </div>
            </div>

            <div class="formCmg checkboxFrom mt-3">
              <div class="tt">Gender</div>
              <label class="radio">
                <input type="radio" name="gender" value="male" formControlName="gender" checked />
                <span class="checkmark"></span>
                Male
              </label>
              <label class="radio">
                <input type="radio" value="female" formControlName="gender" name="gender" />
                <span class="checkmark"></span>
                Female
              </label>
              <div class="error" *ngIf="
              editProfileForm.controls.gender.touched &&
              editProfileForm.controls.gender.hasError('required')"> Gender is required.
              </div>
            </div>


            <div class="formCmg labelForm col-md-6 mt-3">
              <label class="form-label mb-2">Birthdate</label>
              <input type="date" formControlName="date" max="{{currentDate()}}" class="form-control" name="date" />
              <div class="error" *ngIf="
              editProfileForm.controls.date.touched &&
              editProfileForm.controls.date.hasError('required')"> Birthdate is required.
              </div>
            </div>


            <div class="formCmg labelForm col-md-6 mt-3">
              <!-- <input type="password" class="form-control" name="password" value="********" disabled /> -->
              <a routerLink="/view/change-password" class="changePassword">Change password</a>
            </div>

            <!-- <div class="children pt-3" *ngIf="addchild">
            <div class="formCmg labelForm">
              <label class="form-label"><strong>Child 1</strong> </label>
              <input
                type="text"
                class="form-control"
                placeholder="Child name*"
              />
            </div>
            <div class="formCmg checkboxFrom">
              <div class="tt">Gender</div>
              <label class="radio">
                <input type="radio" name="gender" checked />
                <span class="checkmark"></span>
                Male
              </label>
              <label class="radio">
                <input type="radio" name="gender" />
                <span class="checkmark"></span>
                Female
              </label>
            </div>
            <div class="formCmg labelForm">
              <input type="date" class="form-control" />
            </div>
            <div class="formCmg labelForm">
              <input type="text" placeholder="School" class="form-control" />
              <a
                href="javascript:void(0);"
                class="changePassword text-end d-block"
                style="text-decoration: none"
                >+ Add children</a
              >
            </div>
          </div> -->
          </div>

          <!-- <div class="formCmg labelForm">
          <a
            href="javascript:void(0);"
            class="addChildren"
            (click)="openToggle()"
            >Add children</a
          >
        </div> -->

        </form>
        <div class="formCmg">
          <button (click)="submitEditProfileForm()" [disabled]="!isupdate && DisableSubmitbutton" type="submit"
            class="btn submitBtn">
            Save
          </button>
        </div>
      </div>
    </div>

  </div>
</div>