<div class="space loginSignup changePassword">
  <form [formGroup]="ResetPasswordForm">
    <div class="formCmg">
      <img class="icon" src="./assets/images/icons/icon-password.svg" style="height: 19px" />
      <input type="password" class="form-control" (blur)="
            matchinputValue(
              ResetPasswordForm?.controls?.password,
              ResetPasswordForm?.controls?.confirm_password
            )
          " name="password" formControlName="password" placeholder="Password"
        [type]="pvisibility ? 'text' : 'password'" />
      <div>
        <img src="./assets/images/icons/password-show.svg" class="actionAction" *ngIf="pvisibility"
          (click)="pvisibility = false" />
      </div>
      <div>
        <img src="./assets/images/icons/password-hide.svg" class="actionAction" *ngIf="!pvisibility"
          (click)="pvisibility = true" />
      </div>
    </div>
    <div class="error" *ngIf="
          ResetPasswordForm.controls.password?.touched &&
          ResetPasswordForm.controls.password.hasError('required')
        ">
      Password is required.
    </div>
    <div class="error" *ngIf="
          ResetPasswordForm.controls.password?.dirty &&
          ResetPasswordForm.controls.password.hasError('minlength')
        ">
      Password field should be minimum 6 characters.
    </div>

    <div class="formCmg">
      <img class="icon" src="./assets/images/icons/icon-password.svg" style="height: 19px" />
      <input type="password" class="form-control" (blur)="
            matchinputValue(
              ResetPasswordForm?.controls?.password,
              ResetPasswordForm?.controls?.confirm_password
            )
          " name="confirm_password" formControlName="confirm_password" placeholder="Confirm password"
        [type]="pcvisibility ? 'text' : 'password'" />

      <div>
        <img src="./assets/images/icons/password-show.svg" class="actionAction" *ngIf="pcvisibility"
          (click)="pcvisibility = false" />
      </div>
      <div>
        <img src="./assets/images/icons/password-hide.svg" class="actionAction" *ngIf="!pcvisibility"
          (click)="pcvisibility = true" />
      </div>
    </div>
    <div class="error" *ngIf="
          ResetPasswordForm.controls.confirm_password?.touched &&
          ResetPasswordForm.controls.confirm_password.hasError('noMatch')
        ">
      Password do not match.
    </div>
    <div class="formCmg updatePasswordBtn">
      <button (click)="submitResetPasswordForm()" type="submit" class="btn submitBtn">Update</button>
    </div>
  </form>
</div>